body {
  background-color: black;
}

.calculator__display {
  background-color: cyan;
  text-align: right;
  height: 10vh;
}
.calculator__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 17vh 17vh 17vh 17vh 17vh;
  grid-gap: 2px;
}
.calculator button {
  background-color: orange;
  text-size-adjust: auto;
  font-size: 30px;
  color: white;
  border-radius: 3%;
}
.calculator__large-button {
  grid-column: span 2;
}