


.calculator {


    &__display {
        background-color: cyan;
        //border: 22px;
        text-align: right;
        height: 10vh;
    }

    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 17vh 17vh 17vh 17vh 17vh;
        grid-gap: 2px;
        //text-size-adjust: auto;
        }
    
        button{
            background-color: orange;
            text-size-adjust: auto;
            font-size: 30px;
            color: white;
            border-radius: 3%;
        }
    
        &__large-button{
            grid-column:span 2;
        }
    
}





