body {
  margin: 0;
  font-family: "Nunito", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.calculator-display {
  background-color: aqua;
  height: 10vh;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 17vh 17vh 17vh 17vh 17vh;
  grid-gap: 2px;
}
.calculator-buttons button {
  background-color: orange;
  text-size-adjust: auto;
  font-size: 30px;
  color: white;
  border-radius: 5%;
}
.calculator-buttons__large-button {
  grid-column: span 2;
  background-color: orange;
}